<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roc.demo.modules.generate.mapper.TableMapper">

    <select id="selectDbTableList" resultType="com.roc.demo.common.core.vo.generate.db.DbListVO">
        SELECT
        table_name AS tableName,
        table_comment AS tableComment,
        create_time AS createTime,
        update_time AS updateTime
        FROM
        information_schema.TABLES
        WHERE
        table_schema = ( SELECT DATABASE ( ) )
        AND table_name NOT IN (select table_name from gen_table)
        <if test="dto.tableName != null and dto.tableName != ''">
            AND table_name like concat('%', #{dto.tableName}, '%')
        </if>
        <if test="dto.tableComment != null and dto.tableComment != ''">
            AND table_comment like concat('%', #{dto.tableComment}, '%')
        </if>
        order by create_time desc
    </select>

</mapper>
